
*.cache
*.exe
*.manifest

Debug/
obj/
*.suo
LongestCommonSubsequence/LongestCommonSubsequence.sln
LongestCommonSubsequence/LongestCommonSubsequence/App.config
LongestCommonSubsequence/LongestCommonSubsequence/AssemblyInfo.cs
LongestCommonSubsequence/LongestCommonSubsequence/LCS.cs
LongestCommonSubsequence/LongestCommonSubsequence/LongestCommonSubsequence.csproj
LongestCommonSubsequence/LongestCommonSubsequence/Program.cs
MatrixRotation/MatrixRotation.sln
MatrixRotation/MatrixRotation/App.config
MatrixRotation/MatrixRotation/bin/Release/MatrixRotation.exe.config
MatrixRotation/MatrixRotation/bin/Release/MatrixRotation.pdb
MatrixRotation/MatrixRotation/bin/Release/MatrixRotation.vshost.exe.config
MatrixRotation/MatrixRotation/MatrixRotation.csproj
MatrixRotation/MatrixRotation/Program.cs
MatrixRotation/MatrixRotation/Properties/AssemblyInfo.cs
MaxMin/MaxMin.sln
MaxMin/MaxMin/App.config
MaxMin/MaxMin/bin/Release/MaxMin.exe.config
MaxMin/MaxMin/bin/Release/MaxMin.pdb
MaxMin/MaxMin/bin/Release/MaxMin.vshost.exe.config
MaxMin/MaxMin/MaxMin.csproj
MaxMin/MaxMin/Program.cs
MaxMin/MaxMin/Properties/AssemblyInfo.cs
MinimumSwaps/MinimumSwaps.sln
MinimumSwaps/MinimumSwaps/App.config
MinimumSwaps/MinimumSwaps/MinimumSwaps.csproj
MinimumSwaps/MinimumSwaps/Program.cs
MinimumSwaps/MinimumSwaps/Properties/AssemblyInfo.cs
StoneDivision2/StoneDivision2.sln
StoneDivision2/StoneDivision2/App.config
StoneDivision2/StoneDivision2/bin/Release/StoneDivision2.exe.config
StoneDivision2/StoneDivision2/bin/Release/StoneDivision2.pdb
StoneDivision2/StoneDivision2/bin/Release/StoneDivision2.vshost.exe.config
StoneDivision2/StoneDivision2/Program.cs
StoneDivision2/StoneDivision2/Properties/AssemblyInfo.cs
StoneDivision2/StoneDivision2/StoneDivision2.csproj
StoneDivison/StoneDivison.sln
StoneDivison/StoneDivison/App.config
StoneDivison/StoneDivison/Program.cs
StoneDivison/StoneDivison/Properties/AssemblyInfo.cs
StoneDivison/StoneDivison/StoneDivison.csproj
